@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family:"Roboto Slab";
    src: url("../fonts/RobotoSlab-Bold.woff") format('woff');
    src: url("../fonts2/RobotoSlab-Bold.woff2") format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
}

html {
    font-size: 0.9px;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}

.column {
    min-width: 219px;
    width: 22%;
}

.sup {
    font-size: 0.6em;
}

hr {
    border:none;
    border-top:1px solid #e4e4ec;
    margin-right: 27px;
}

figure {
    margin: 0px;
}

h1 {
    color: #24242b;
    font: 30rem "Roboto Slab";
}

h3 {
    font-size: 14rem;
    color: #1f1f56;
    font-family: "Arial";
    padding-top: 13px;
    /* justify-content: none; */
    /* text-decoration: none; */
}

h3:hover {
    text-decoration: underline;
}

sup {
    font-size: 0.6em;
}

.flex-between {
    display: flex;
    row-gap: 28px;
    color: #b1b1d2;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-betweentop-menu {
    padding-top: 42px;
}

.footer-menucolumn {
    padding-top: 42px;
    padding-bottom: 29px;
} 

.messengercolumn {
    padding-top: 42px;
}

.messengercolumn 
.a {
    padding-top: 12px;
} 

.messengercolumn
.a {
    padding-top: 36px;
}

.nav-menu {
    padding-left: 0px;
}

ul {
    list-style: none;
    padding: 0;
    border-radius: 0 0 3px 3px;
}

/* ul:not(li a) {
    border-radius: 0 0 3px 3px;
} */

ul:hover {
    color: #666666;
}

.top-menu a {
    font-size: 14rem;
    letter-spacing: 2px;
    line-height: 24px;
    color: #b1b1d2;
    font-family: "Arial";
    text-decoration: none;
    padding: 25px;
    padding-left: 0px;
}

.top-menu a:hover {
    color: #fd8300;
}

.social {
    padding-left: 0px;
    column-gap: 25px;
}

.social a {
    display: block; 
    background: url(../img/Sprite-hata.png) no-repeat;
} 

.social a:hover {
    transition: all 0.5s ease;
}

.flex {
    display: flex;
    padding-top: 37px;
    flex-wrap: wrap;
    column-gap: 28px;
}

a.facebook {
    width: 10px;
    height: 19px;
    background-position: 0 -22px;
}

a.facebook:hover {
    background-position: 0 0;
}   

a.twitter {
    width: 18px;
    height: 15px;
    background-position: -13px -22px;
}

a.twitter:hover {
    background-position: -13px 0px;
}

a.instagram {
    width: 18px;
    height: 18px;
    background-position: -36px -22px;
}

a.instagram:hover {
    background-position: -36px 0px;
} 
  
.contacts {
    padding: 25px 0;
}

.logo {
    padding-right: 46px;
    margin: 15px;
    width: 220rem;
    height: 57rem;
    padding-left: 120px;
}

.phones p:first-child
.messengers p:first-child {
    margin-bottom: 10px;
} 

.phones a {
    font-size: 18rem;
    line-height: 24px; 
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
    padding-left: 27px;
    position: relative;
}

.phones a:hover {
    text-decoration: underline;
}

.phone,
.mail,
.skype {
    position: relative;
}

.phone:before,
.mail:before,
.skype:before {
    content: '';
    position: absolute;
    left: -28px;
    top: 0;
    background: url(../img/Sprite-hata.png) no-repeat;
}

.phone:before { 
    height: 17px;
    width: 16px;
    left: 0;
    background-position: -60px 0px;
} 
 
.messenger {
    padding-left: 20px;
    box-sizing: border-box;
}

.messenger .mail {
    font-size: 16rem;
    line-height: 24px;
    text-decoration: underline;
    color: #25252c;
    font-family: "Arial";
    text-decoration: none;
}

.messenger .mail:hover {
    text-decoration: underline;
    color: #25252c;
}

.mail:before {
    height: 13px;
    width: 17px;
    background-position: -80px 0px;
}

.messenger .skype {
    font-size: 16rem;
    line-height: 24px;
    color: #25252c;
    font-family: "Arial";
    text-decoration: none;
}

.messenger .skype:hover {
    text-decoration: underline;
}

.skype a {
    text-decoration: none;
}

.skype:before {
    height: 19px;
    width: 18px;
    background-position: -100px 0px;    
}

.line  {
    position: relative;
}

.line:before {
    content: '';
    position: absolute;
    left: -29px;
    width: 1px;
    height: 51px;
    background-color: #e4e4ec;
}

.cta a {
    color: #25252c;
    padding: 12px 27px;
    background-color: #ffffff;
    border: 2px solid #fd8300;
    border-radius: 25px;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    font-size: 16rem;
}

.cta a:hover {
    background-color: #fd8300;
    transition: all 1s;
}

.house {
    background-image: url(../img/house_with_a_lake.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding:30px 0px;
}

.house .month {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    font: bold 30rem "Roboto Slab";
    text-align: center;  
}

.house p {
    font-size: 14rem;
    line-height: 24px;
    color: #ffffff; 
    font-family: "Arial";
    text-align: center;
    margin: 5px;
}

.house .price {
    font-size: 40rem;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
    margin: 10px;
}

.house span {
    font-size: 24rem;
    line-height: 24px;
    color: #fd8300;
    font-family: "Arial";
}

.main {
    max-width: 713px;
}

.main-text {
    font-size: 14rem;
    line-height: 24px;
    color: #666666;
    font-family: "Arial";
    /* padding-right: 72px; */
    
}
 
.main-text h1 {
    font-size: 30rem;
    font-weight: 700;
    color: #24242b;
    font-family: "Roboto Slab";
    padding-top: 23px;
    padding-bottom: 28px;
}

.popular-projects {
    justify-content: space-between;
    column-gap: 10px;
    padding-top: 30px;
    padding-bottom: 40px;
}

.popular-projects h2 {
    font-size: 24rem;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    padding-bottom: 24px;
}

.figures {
    padding-top: 148px;
}

.figcaption-h3
.figcaption-p {
    width: 220px;
    height: 53px;
    font-size: 13rem;
    line-height: 18px;
    color: #9999a6;
    font-family: "Arial";
}

.aside-menu p {
    background-color: #1f1f56;
    font-size: 16rem;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
    padding-left: 16px;
    padding-bottom: 13px;
    padding-top: 17px;
    flex-wrap: nowrap;
    display: block;
    border-radius: 3px 3px 0px 0px;
}

.aside-menu>li>a {
    position: relative; 
    color: #25252c;
}

.aside-menu>ul>li:last-child>a {
    border-radius: 0 0 3px 3px;
}

.figurs {
    display: flex;
    row-gap: 30px;
    /* max-width: 730rem; */
    column-gap: 28px;
    flex-wrap: wrap;
}

.figurs p {
    font-size: 13rem;
    line-height: 18px;
    color: #9999a6;
    font-family: "Arial";
}

.aside-menu .column {
    padding-bottom: 27px;
}

.detail a {   
    font-size: 14rem;
    line-height: 24px;
    text-decoration: underline;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
    padding-top:20px;   
    padding-bottom: 33px;
    display: block;
}

.detail a:hover {
    text-decoration: none;
}

.top-background {
    background-color: #1f1f56;
    padding: 15px 0;
}

.top-menu li {
    margin-right: 22px;
}

.aside-menu {
    position: sticky;
    top: 20px;
}

.aside-menu li {
    border-top: 1px solid #cecedd;
}

.aside-menu li a:first-child
::before {
    border-width: 2px;
    border-style: solid;
    border: 1px solid #666;
    border: #666;
    border-top: 16px;
    border-right: 14px;
    border-bottom-width: 8px; 
    border-bottom: 2px solid #666;
    border-right: 2px solid #666;
    transform: rotate(-45deg);  
    transform: rotate(+45deg);
}

.menu {
    margin: 0;
    padding-left: 0;
    list-style: none;
    background-color: #e4e4ec;
}

.menu a::before {
    border-bottom: 2px solid #666;
    border-right: 2px solid #666;
    transform: rotate(-45deg);
}

.menu ul a:last-child {
    border-radius: 0 0 3px 3px ;
}

.menu>li>a::before {
    background-color: #cecedd;
    padding-left: 17px;
    font-size: 14px;
    color: #25252c;
    font-family: "Arial";
    display: block;
    text-decoration: none;
}

.menu ul ~ li a {
    border-right: 2px solid #666;
    border-bottom: 2px solid #666;
    transition: all .5s ease;
    transform: rotate(-45deg)
}

.menu a {
    font-size: 14px;
    color: #25252c;
    font-family: "Arial";
    padding: 15px;
    display: block;
    text-decoration: none;
}

/* .menu li {
    position: relative;
} */


.menu.sub-menu {
    background-color: #e4e4ec;
    display: none;
    text-decoration: none;
}

.menu.sub-menu ul>li>:first-child:hover {
    text-decoration: none;
    background-color: #cecedd;
}

.menu>li:hover>a {
    color: #ffffff;
    background-color: #cecedd;
    text-decoration: none;
    background-color: #fd8300;
}

.menu>li:hover>.sub-menu {
    display: block;
}

.footer {
    font-size: 14px;
    line-height: 26px;
    color: #666666;
    font-family: "Arial";
    display: block;   
} 

.footer-top {
    background-color: #ededf5;
    padding-top: 42px;
    padding-bottom: 29px;
    margin-top: 30px;
}

.footer-bottom {
    background-color: #dcdce6;
    text-align: center;
    font-size: 13px;
    padding: 15px 0;
    line-height: 18px;
    color: #9999a6;
    font-family: "Arial";
}

.footer-menu a {
    font-size: 14px;
    line-height: 26px;
    color: #666666;
    font-family: "Arial";
    text-decoration: none;
}

.footer-menu a:hover {
    text-decoration: underline;
    color: #fd8300;
}

.hamburger ul {
    position: absolute;
    padding: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

@media screen and (min-width: 580px)  {
    html {
        font-size: 0.9px;
    }
}

.top-background {
    justify-content: space-between;
    animation-name: menu;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: 2s infinite;
    animation-duration: reverse;
    animation-fill-mode: backwards;
    animation-play-state: paused;
    justify-content: center;
}

.hamburger{
    position: absolute;
    padding: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.hamburger span,
.hamburger span:before,
.hamburger span:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 7px;
    background-color: #777;
    border-radius: 5px;
    top: 50%;
    transition: box-shadow .25s ease-in-out;
}

/* .hamburger span{
    transform: translateY(-50%);
} */

/* .hamburger span:before{
    top: 15px;
} */

/* .hamburger span:after{
    top: -15px;
} */

/* .hamburger-open span,
.hamburger-open span:before,
.hamburger-open span:after{
    background-color: #444;
} */

/* .hamburger-open span{
animation: fade .1s linear .6s forwards;
    box-shadow: 0 0 5px 2px rgba(0,255,0,0.7);
} */

/* .hamburger-open span:before{
animation: left .5s ease-in forwards;
    box-shadow: 0 0 5px 2px rgba(255,0,0,0.7);
} */

/* .hamburger-open span:after{
animation: right .7s ease-in forwards;
    box-shadow: 0 0 5px 2px rgba(0,0,255,0.7);
} */
  
/* @keyframes right{
    0% {
    top: -15px;
    left: 0;
    }

    30% {
    top: -15px;
    left: 75px;
    }

    70% {
    top: -50px;
    left: 75px;
    transform: rotate(-225deg);
    }

    100% {
    top: 0;
    left: 0;
    transform: rotate(-225deg);
    }
} */

/* @keyframes left{
    0%{
      top: 15px;
      left: 0;
    }
    30%{
      top: 15px;
      left: -75px;
    }
    70%{
      top: -50px;
      left: -75px;
      transform: rotate(225deg);
    }
    100%{
      top: 0;
      left: 0;
      transform: rotate(225deg);
    }
} */

/* @keyframes fade{
    from {
        background-color: #777;
    }

    to {
        background-color: transparent;
        box-shadow: none;
    }
} */
  
/* nav {
    overflow: hidden;
    padding-left: 0px;
} */

/* .menu {
    position: absolute;
    left: 80px;
    top: 80px;
    margin: 0;
    padding-left: 0;
    list-style: none;
    background-color: pink;
    border-radius: 5px;
    overflow: hidden;
} */

/* .menu li + li {
    border-top: 1px solid brown;
} */

/* .menu a {
    display: block;
    padding: 20px 40px;
    text-decoration: none;
    color: brown;
} */

/* .menu a:hover {
    animation: hover 3s linear infinite;
} */

/* @keyframes hover {
    from { 
    filter: hue-rotate(0); 
    background: repeating-linear-gradient(45deg, rgba(255,0,0, 0.2) 0%, rgba(0,255,0, 0.01) 5%, transparent 5%, transparent 10%) 0 / 300%, linear-gradient(#fff, #fff) 0 / 300%;
    }   

    to { 
    filter: hue-rotate(360deg); 
    background: repeating-linear-gradient(45deg, rgba(255,0,0, 0.2) 0%, rgba(0,255,0, 0.01) 5%, transparent 5%, transparent 10%) 100% / 300%, linear-gradient(#fff, #fff) 0 / 300%;
    }
} */

.active-burger {
    display: block;
    animation: fadeIn 1s ease;
}

/* @keyframes fadeIn {
    from { 
      opacity: 0; 
      transform: translateY(-200px);
    }
    to { 
      opacity: 1; 
      transform: translateY(0);
    }
}  */

/* .flex-between top-menu "hamburger"> {
    <li><a href="#">Головна</a></li>
    <li><a href="#">Про компанію</a></li>
    <li><a href="#">Акції</a></li>
    <li><a href="#">Наші будівлі</a></li>
    <li><a href="#">Контакти<</a></li>
}